.home-contant {
    position: absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    color:white;
}
.home-contant h1{
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: .7rem;
    font-weight: 400;
    
}
.home-contant h3{
    text-transform: uppercase;
    
    letter-spacing: .7rem;
    font-weight: 400;
   
}
.home-contant h2{
    text-transform: uppercase;
    
    letter-spacing: .7rem;
    font-weight: 400;
   
}